body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, Verdana;
}

.carousel__post {
	position: relative;
	padding: 0 60px;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.slick-arrow {
	background-color: #888 !important;
	width: 40px !important;
	height: 100% !important;
	z-index: 1000 !important;
	overflow: hidden;
	opacity: .3 !important;
}

.carousel__post-author, .carousel__post-text {
    position: absolute;
    color: #fff;
    font-size: 38px;
}

.wrapper_prod .carousel__post-author:hover, .wrapper_prod .carousel__post-text:hover {
    cursor: move;
}

.panel-editor {
    background-color: #ccc;
    padding: 10px 0;
    position: relative;
}

.panel-editor__info {
    position: absolute;
    top: 3px;
    right: 15px;
    font-weight: bold;
}

.panel-editor__area {
    margin: 10px 20px;
}

.panel-editor__area-input {
    width: 50%;
    height: 25px;
    line-height: 25px;
    outline: none;
    font-size: 16px;
    padding: 7px;
}

.panel-editor__area-input_first, .panel-editor__area-input_secondary {
    width: 24%;
    margin-left: 2px;
}

.panel-editor__area-input_numeric {
    width: 5%;
}

.panel-editor__area-input_text {
    width: 87%;
    background: #99b897;
}

.panel-editor__btn {
    color: #000;
    text-align: center;
    padding: 5px 7px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 10%;
    right: 10px;
    top: 30px;
}

.panel-editor__btn_start {
   top: 85px;
}

.panel-editor__btn:hover {
    background-color: #71CC69;
    cursor: pointer;
}

.wrapper {
    position: relative;
    top: 0px;
}

.wrapper_prod {
    top: -10px;
}

.carousel {
    width: 100%;
}

.carousel__arrows {
    width: 5%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.carousel__arrows:hover {
    opacity: .3;
    cursor: pointer;
}

.carousel__arrows_prev {
    left: 0;
}

.carousel__arrows_next {
    right: 0;
}

.panel-editor-preview {
    padding-top: 12px;
    padding-top: 5px;
    background-color: #888;
    text-align: center;
}

.panel-editor-preview__item {
    border: 1px solid #000000;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 7px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

.panel-editor-preview__item_current {
    border: 1px solid #ffff00;
}
